@import 'src/styles/variables';

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    padding: 0 24px;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    
    form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid $dark-700;
        color: #fff;
        background: none;
        
        &[type=submit] {
            border: none;
            background-image: linear-gradient(to bottom right, #ff2cdf, #0014ff);
        }
    }
}