@import 'src/styles/variables';

.dashboard {
  padding: 0 24px;
  width: 100vw;
  margin-top: 24px;
  margin-bottom: 100px;

  &__transaction {
    margin: 12px auto;
    padding: 24px;
    border-radius: 12px;
    background-color: $dark-800;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      
      button {
      border: 1px solid white;
      color: black;
      border-radius: 8px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
    }
    
    &__list {
      list-style: none;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}