.credit-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  min-width: 280px;
  padding: 12px;
  border-radius: 16px;
  position: relative;

  &.small {
    flex-direction: row;
    justify-content: space-between;

    .credit-card__balance-image div {
      display: none;
    }
  }

  &__balance-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  img {
    margin-left: auto;
    width: 32px;
    height: fit-content;
    aspect-ratio: 1/1;
  }

  h3 small {
    display: block;
    font-weight: bold;
    font-size: 8px;
    opacity: .7;
  }
  
  h3:last-child {
    margin-left: auto;
  }
}
