@import 'src/styles/variables';

.dashboard__wallet {
  margin: 12px auto;
  padding: 24px;
  border-radius: 12px;
  background-color: $dark-800;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    
    button {
      border: 1px solid white;
      color: black;
      border-radius: 8px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 24px;
    overflow-x: scroll;
  }
}