@import '../../../styles/variables';

.dashboard__wallet {
  margin: 12px auto;
  padding: 24px;
  border-radius: 12px;
  background-color: #252934;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    
    button {
      border: 1px solid white;
      border-radius: 8px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 24px;
    overflow-x: scroll;
    
    &__item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: white;
      min-width: 280px;
      padding: 12px;
      border-radius: 16px;
      box-shadow: #1153fc81 0px 24px 20px -20px;
    }
  
    h3 small {
      display: block;
      font-weight: bold;
      font-size: 8px;
      opacity: .7;
    }
    
    h3:last-child {
      margin-left: auto;
    }
  }
}

.modal__transaction__colors {
  list-style: none;
  display: flex;
  gap: 4px;

  li {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    &:nth-child(1) {
      background: $gradient-1;
    }
    &:nth-child(2) {
      background: $gradient-2;
    }
    &:nth-child(3) {
      background: $gradient-3;
    }
    &:nth-child(4) {
      background: $gradient-4;
    }
    &:nth-child(5) {
      background: $gradient-5;
    }
    &:nth-child(6) {
      background: $gradient-6;
    }
    &:nth-child(7) {
      background: $gradient-7;
    }
    &:nth-child(8) {
      background: $gradient-8;
    }

  }
}
