$gradient-1: linear-gradient(45deg, #ffcb52, #FF7B02);
$gradient-2: linear-gradient(45deg, #C165DD, #5C27FE);
$gradient-3: linear-gradient(45deg, #2AFEB7, #08C792);
$gradient-4: linear-gradient(45deg, #5581F1, #1153FC);
$gradient-5: linear-gradient(45deg, #FACD68, #FC76B3);
$gradient-6: linear-gradient(45deg, #00F7A7, #04F5ED);
$gradient-7: linear-gradient(45deg, #1DE5E2, #B588F7);
$gradient-8: linear-gradient(45deg, #FFE324, #FFB533);