@import 'src/styles/variables';

.navbar {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: $dark-800;
    padding: 12px 0;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-around;

    button {
        background: none;
        color: $dark-600;
        border: none;
        font-size: 24px;

        &.active {
            color: white;
            text-shadow: 0px 0px 24px white;
            transition: all .3s;
        }
    }
}