.notifications {
    position: fixed;
    top: 12px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.notifications__notification {
    background: black;
    width: 300px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    color: white;
}

.notifications__notification.success {
    border: 1px solid #00ff00;
    box-shadow: inset 0px 0px 10px #00ff00;
}

.notifications__notification.alert {
    border: 1px solid #ffff80;
    box-shadow: inset 0px 0px 10px #ffff00;
}

.notifications__notification.error {
    border: 1px solid #ff0000;
    box-shadow: inset 0px 0px 10px #ff0000;
}

.notifications__notification i:last-child {
    margin-left: auto;
    color: #ffffffc8;
}