@import 'src/styles/variables';

.wallet {
  padding: 0 24px;
  width: 100vw;
  margin-top: 24px;
  margin-bottom: 100px;

  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}