@import 'src/styles/variables';
.dashboard__wallet {
  margin: 12px auto;
  padding: 24px;
  border-radius: 12px;
  background-color: $dark-800;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    
    button {
      border: 1px solid white;
      color: black;
      border-radius: 8px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    margin-top: 24px;
  }
}

.wallet {
  padding: 0 24px;
  width: 100vw;
  margin-top: 24px;
  margin-bottom: 100px;

  &__header {
    display: flex;
    justify-content: space-between;

    button {
      background: #4e5160;
      border-radius: 8px;
      border: none;
      padding: 0 24px;
      color: white;
    }
  }

  &__list {
    margin: 24px auto;
    padding: 0 16px;
    width: calc(100% - 24px);
    overflow: hidden;
  }

  &__actions {
    display: flex;
    gap: 12px;
    justify-content: center;
    z-index: 10;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: 140px;
      height: 40px;
      border: 1px solid;
      border-radius: 8px;
      background: none;
      color:  #5581F1;
      
      &.remove {
        color: tomato;
      }
    }
  }

  &__last-transactions {
    margin: 24px auto;
    padding: 24px;
    border-radius: 12px;
    background-color: $dark-800;
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }

    &__list {
      list-style: none;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.modal__transaction__add__colors {
  .swiper-pagination {
    position: initial;
  }
}

.item-color {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  opacity: .5;
  
  &.active {
    opacity: 1;
  }
  &.background-1 {
    background: $gradient-1;
  }
  &.background-2 {
    background: $gradient-2;
  }
  &.background-3 {
    background: $gradient-3;
  }
  &.background-4 {
    background: $gradient-4;
  }
  &.background-5 {
    background: $gradient-5;
  }
  &.background-6 {
    background: $gradient-6;
  }
  &.background-7 {
    background: $gradient-7;
  }
  &.background-8 {
    background: $gradient-8;
  }
}